@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

:root{

    /* ### Primary */
    --scissors-from: hsl(39, 89%, 49%);
    --scissors-to: hsl(40, 84%, 53%);
    --paper-from: hsl(230, 89%, 62%);
    --paper-to: hsl(230, 89%, 65%);
    --rock-from: hsl(349, 71%, 52%);
    --rock-to: hsl(349, 70%, 56%);
    /* - Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%) */

    /* ### Neutral */
    --Dark-Text: hsl(229, 25%, 31%);
    --Score-Text: hsl(229, 64%, 46%);
    --Header-Outline: hsl(217, 16%, 45%);
    --white: #fff;

    /* ### Background */
    --bg-from: hsl(214, 47%, 23%);
    --bg-to: hsl(237, 49%, 15%);

    /*Font weights*/
    --semi-bold: 600;
    --bold: 700;

    /*SIZES*/
    --triangle-size: 28rem;
    --option-size: 20rem;
    --circle-size: 15rem;

    /*OPTION SHADOW*/
    --outside: inset 0 -.6rem rgba(0, 0, 0, 0.35);
    --inside: inset 0 .6rem rgba(0, 0, 0, 0.2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
body{
    background: radial-gradient(circle at top,var(--bg-from), var(--bg-to));
    font-size: 1.6rem;
    width: 100%;
    height: 100vh;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
}
button{
    background: transparent;
    color: var(--white);
    font-weight: var(--semi-bold);
    border: 1px solid var(--white);
    outline: 0;
    padding: 1.5rem 3rem;
    border-radius: .8rem;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 2rem #ffffff22;
}
button:active{
    transform: scale(0.9);
}



/*Input rounds*/
/********************************************/
.input-rounds{
    text-align: center;
    margin-top: 7rem;
}
.input-rounds p{
    font-size: 3.2rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
}
.round-options{
    font-size: 2.2rem;
    display: flex;
    justify-content: space-evenly;
}
.round-options span:hover{
    text-decoration: underline;
    cursor: pointer;
}
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.selected{
    text-decoration: underline;
}
@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(10px);
    }
}
.shake {
    animation: shake 0.5s ease-in-out;
  }
/*PLAY*/
/********************************************/
.playBtn{
    font-size: 3.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}



/*HEADER*/
/********************************************/
.header{
    display: flex;
    height: fit-content;
    width: 40vw;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: space-between;
    border: .3rem solid var(--Header-Outline);
    border-radius: 2rem;
}
.score-div{
    background: var(--white);
    width: fit-content;
    height: fit-content;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    line-height: 1;
}
.score-div p{
    color: var(--paper-from);
}
.score-div .score{
    font-size: 6.4rem;
    color: var(--Dark-Text);
}




/*OPTIONS*/
/********************************************/
.options{
    margin-top: 20rem;
    width: var(--triangle-size);
    height: var(--triangle-size);
    background-image: url('images/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.option{
    width: var(--option-size);
    height: var(--option-size);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--outside),
    0rem .2rem .3rem #00000055;
}
.option:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.option:active{
    transform: scale(1.1);
}
#paper{
    background: var(--paper-from);
    position: absolute;
    top: -10rem;
    left: -10rem;
}
#scissors{
    background: var(--scissors-from);
    position: absolute;
    top: -10rem;
    right: -10rem;
}
#rock{
    background: var(--rock-from);
    position: absolute;
    bottom: -5rem;
    left: 50%;
    translate: -50% 0;
}
.option-circle{
    border-radius: 50%;
    height: var(--circle-size);
    width: var(--circle-size);
    background: var(--white);
    box-shadow: var(--inside);
    position: relative;
}
.option img{
    width: 5.9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -55% -55%;
}
.fade-out{
    animation: fade-out .5s linear;
}
@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



/*RULES*/
/********************************************/
.rulesBtn{
    position: absolute;
    right: 3rem;
    bottom: 4rem;
}
.rules-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.rules{
    background: var(--white);
    padding: 3rem 5rem;
    border-radius: 1rem;
    position: relative;
    animation: enlarge .3s ease-out;
}
@keyframes enlarge {
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1);
    }
}
.rules-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.rules-header span{
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--Dark-Text);
}
.close-rules:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/*RESULTS*/
/********************************************/
.result{
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30rem;
}
.result .option{
    position: unset !important;

}
.result .option:hover{
    cursor: unset !important;
    transform: unset !important;
}
.result .option:active{
    transform: unset !important;
}
.you,
.house{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
